@import "tailwindcss";

:root {
  --background: #131313;
  --foreground: #e2e2e2;
}

@theme {
  --breakpoint-*: initial;
}

@custom-variant tablet (@media (max-width: 1194px));
@custom-variant mobile (@media (max-width: 720px));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* custom */
  --color-gray: #787878;
  --color-black: #131313;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  p,
  span,
  div {
    word-break: keep-all;
  }

  circle,
  path {
    vector-effect: non-scaling-stroke;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"]:focus {
  outline: none;
  box-shadow: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::selection {
  color: #004595;
  background: #77ffe9;
}

::-webkit-selection {
  color: #004595;
  background: #77ffe9;
}
